* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: lightgrey;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  width: 80vw;
  min-width: 260px;
  display: grid;
  gap: 12px;
}

.header,
aside,
.footer,
article {
  width: 100%;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 24px;
  padding: 12px 36px;
}

.header {
  background-color: #aa0a65;
}

.content-row {
  display: grid;
  gap: 12px;
}

.section {
  width: 100%;
  background-color: #25bf74;
  border-radius: 10px;
  padding: 24px 16px;
  display: grid;
  gap: 16px;
  justify-items: center;
  align-items: center;
}

.article-title {
  display: none;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

article {
  background-color: #e43983;
  font-size: 1.5rem;
  width: 80%;
  border-radius: 6px;
  padding: 14px 8px;
  display: grid;
  place-items: center;
}

.aside-1 {
  background-color: #056595;
}

.aside-2 {
  background-color: #1b99aa;
}

.footer {
  background-color: #d88303;
}

@media (min-width: 768px) {
  .content-row {
    grid-template-columns: 1fr 2fr 1fr;
    align-items: stretch;
    min-height: 200px;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
  }

  .article-title {
    display: grid;
    grid-column: 1 / -1;
  }

  aside {
    height: 100%;
    display: grid;
    place-items: center;
  }

  article {
    width: 100%;
  }
}
